/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.component {
  border: solid green;
  background-color: purple;
  margin: 5px;
  padding: 10px;
  min-height: 100px;
}

.container {
  background-color: yellow;
}


