<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <h2>User overview</h2>

    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Emailaddress</th>
            <th>Role</th>
       
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.emailAddress }}</td>
                <td *ngIf="user.role == 'student'">Student</td>
                <td *ngIf="user.role == 'teacher'">Teacher</td>
               
                <td class="text-end">
                    <a routerLink="{{user.id}}" class="btn btn-primary mx-2" >Details</a>
                    <a routerLink="{{user.id}}/edit" class="btn btn-warning mx-2" *ngIf="userr?.role === 'teacher'">Edit</a>
                    <a (click)="deleteUser(user.id)" class=" btn btn-danger mx-2" *ngIf="userr?.role === 'teacher'">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>